/*
Sticker Dimensions: 51.1mm x 31.75mm
Sticker margins: 8mm, 1mm
*/

.sticker {
    margin: 0 auto;
    padding: 1mm;
    width: 57.1mm;      /* Total width  = 1 + 1 + 57.1 = 59.1mm */
    height: 31.75mm;    /* Total height = 1 + 1 + 31.75 = 32.75mm */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 7pt;
    overflow: hidden;
    text-align: center;
}

.sticker .error {
    color: red;
    font-size: 8pt;
    z-index: 1000;
}

/* Layout table */
.sticker-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.sticker-table td {
    vertical-align: middle;
    padding: 0;
}

/* Left content */
.label-cell {
    width: 40mm;
    text-align: center;
}

/* Right placeholder area */
.box-cell {
    width: 15mm;
    text-align: center;
}

/* Barcode */
.sticker .barcode {
    margin: 2mm;
    padding: 2mm !important;
    overflow: hidden !important;
    text-align: center;
}

.sticker .barcode img {
    height: 4mm !important;
}

/* Sample ID */
.sample-id {
    font-size: 14pt;
    line-height: 1;
    color: #12325c;
}

/* Ballot/tick box */
.placeholder-box {
    width: 14mm;
    height: 13mm;
    border: 0.5mm solid #c5c5c5;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Print */
@media print {

    @page {
        size: 59.1mm 32.75mm !important;
        margin: 0mm !important;
    }

    html,
    body {
        width: 59.1mm !important;
        height: 32.75mm !important;
        margin: 0mm !important;
    }
}
