/*
Sticker Dimensions: 104mm x 53mm
Sticker margins: 1mm, 1mm
*/
.sticker {
    margin:0 auto;
    padding:0mm;
    width: 102mm;    /* Total width  = 1 + 1 + 102 = 104 */
    height: 50mm;   /* Total height = 1 + 1 + 50 = 52mm */
    font-family: Helvetica, Arial;
    font-size:7pt;
    text-align:center;
    overflow: hidden;
}

.sticker .error {
    color: red;
    font-size: 8pt;
    z-index: 1000;
}

.sticker .barcode {
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;
}

table.info-container {
    height:48mm;
    border-collapse:collapse;
    font-size: 7pt;
    width:100% !important;
}

table.info-container th {
    text-align: left;
    text-transform: none;
    border: 1pt solid #888;
    padding:0mm;
}

table.info-container tr {
    border-collapse: separate;
}

table.info-container td {
    border: 1pt solid #888;
    padding:1mm;
}

@media print {
    @page {
        size:  104mm 50mm !important;
        margin: 0mm !important;
    }
    html, body {
        width: 104mm !important;
        height: 50mm !important;
        margin: 0mm !important;
    }
}
